<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="MSVProperties Microservices v1.0" />
    <meta name="author" content="Nobel Dahal" />
    <title>
      <%= (!!locals.title) ? 'MSVProperties Microservice v1.0 | ' +
      title:'MSVProperties Microservice v1.0' %>
    </title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet" />

    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3" />

    <!-- Custom styles for this template -->
    <link href="stylesheets/main.css" rel="stylesheet" />
  </head>
  <body class="bg-secondary">
    <!-- Loading -->
    <div id="loading" class="d-flex justify-content-center align-items-center">
      <div class="spinner-border text-primary" role="status"></div>
    </div>

    <!-- Main Nav -->
    <%- include('components/header.ejs') %>

    <!-- Body Template -->
    <%- content %>

    <!-- Footer -->
    <%- include('components/footer.ejs') %>
  </body>
  <!-- Script -->
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/main.js" defer></script>
</html>
