<% extend('./partials/main') %>

<main class="container">
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-2"><b><%= title %></b></h6>
    <div class="d-flex text-muted pt-3">
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button class="input-group-text btn-outline-success" id="basic-addon2">Find Nearby Agents</button>
          </div>
          <br>
        </div>
        <div id="map" class="d-flex justify-content-between mt-3"></div>
      </div>
    </div>
  </div>
</main>