<% extend('./partials/main') %>

<main class="container" data-key="<%= apiKey %>">
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-2"><b><%= title %></b></h6>
    <div class="d-flex text-muted pt-3">
      <div class="mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <div class="input-group mb-3">
            <input
              validation="location"
              id="location"
              type="text"
              class="form-control"
              placeholder="Lead UUID"
              aria-label="Lead UUID"
              aria-describedby="basic-addon2"
            />
            <button id="btnSubmit" class="input-group-text btn-outline-success">
              Find Nearby Agents
            </button>
            <button
              id="changeEmailSubject"
              class="input-group-text post-flight btn btn-outline-info hidden"
            >
              Compose Email
            </button>
            <button
              id="triggerModalAgents"
              class="input-group-text post-flight btn-outline-secondary hidden"
            >
              List View
            </button>
          </div>
          <br />
        </div>
        <table id="tableau" class="table table-hover hidden">
          <thead>
            <tr>
              <th scope="col">Lead Topic</th>
              <th scope="col">Full Name</th>
              <th scope="col">Latitude</th>
              <th scope="col">Longitude</th>
            </tr>
          </thead>
          <tbody id="tableContent"></tbody>
        </table>
        <div id="map" class="d-flex justify-content-between"></div>
      </div>
    </div>
  </div>
</main>

<!-- Agents List Modal -->
<div
  class="modal fade"
  id="modalAgents"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalAgentsLabel"
>
  <div class="modal-dialog draggable-ui" role="document">
    <div class="modal-content">
      <div class="modal-header no-border">
        <button
          type="button"
          class="btn-close dismissModal"
          aria-label="Close"
        ></button>
      </div>
      <input
        id="search"
        validation="search"
        type="text"
        class="form-control disabled"
        placeholder="Begin Typing to filter agents"
        aria-label="search"
        aria-describedby="basic-addon2"
      />
      <div class="modal-body">
        <div id="tableAgentsListView"></div>
      </div>
    </div>
  </div>
</div>

<!-- Change subject modal -->
<div
  class="modal fade"
  id="changeSubject"
  tabindex="-1"
  aria-labelledby="changeSubjectLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeSubjectLabel">
          Change Email Content.
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="subject" class="form-label">Email Subject</label><br />
          <input
            id="subject"
            validation="subject"
            type="text"
            class="form-control"
            aria-label="Subject for email"
          />
        </div>
        <div class="col">
          <label for="editor" class="form-label">Email Content</label>
          <div id="editor" class="pell"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button id="saveSubject" type="button" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
