<% extend('./partials/main') %>

<main class="container" data-key="<%= apiKey %>">
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-2"><b><%= title %></b></h6>
    <div class="d-flex text-muted pt-3">
      <div class="mb-0 small lh-sm border-bottom w-100">
      </div>
    </div>
  </div>
</main>
