<footer class="footer py-2 bg-light">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        &copy;2021&nbsp;<a target="_blank" href="https://nobeldahal.com.np"
          >Nobel Dahal</a
        >
        &nbsp;|
        <a class="text-muted" href="/terms">License</a>
      </div>
    </div>
  </div>

</footer>


<script src="/javascripts/script.js" crossorigin="anonymous"></script>
<script src="offcanvas.js"></script>
