<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
  <div class="container">
    <a class="navbar-brand" href="/">MSVProperties Microservice v2.03</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample07" style="">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link <%= (!!locals.title) ? ('Home' == title ? 'active' : '') : '' %>" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= (!!locals.title) ? ('Geolocation' == title ? 'active' : '') : '' %>" href="/geolocation">Geolocation</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link <%= (!!locals.title) ? ('Zillow API' == title ? 'active' : '') : '' %>" href="/zillow">Zillow API</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link <%= (!!locals.title) ? ('License' == title ? 'active' : '') : '' %>" href="/terms">License</a>
        </li>
      </ul>
    </div>
  </div>
</nav>